<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLog" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smarth2owebservice.apphb.com/ServiceLog.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLog"
                contract="ServiceH2O.IServiceLog" name="BasicHttpBinding_IServiceLog" />
        </client>
    </system.serviceModel>
</configuration>