<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLog" />
                <binding name="BasicHttpBinding_IServiceLog1" />
                <binding name="BasicHttpBinding_IServiceLog2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://servicesmarth2o.apphb.com/ServiceLog.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLog"
                contract="ServiceLog.IServiceLog" name="BasicHttpBinding_IServiceLog" />
            <endpoint address="http://localhost:29976/ServiceLog.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceLog1" contract="ServiceLogLocal.IServiceLog"
                name="BasicHttpBinding_IServiceLog1" />
            <endpoint address="http://smarth2owebservice.apphb.com/ServiceLog.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLog2"
                contract="ServiceLogWebService.IServiceLog" name="BasicHttpBinding_IServiceLog2" />
        </client>
    </system.serviceModel>
</configuration>